@using Neuron.Common.Components.Layout
<LayoutView Layout="typeof(PageLayout)">
<div class="my-component">
    This component is defined in the <strong>Neuron.Modules.TestModule</strong> library.
</div>
</LayoutView>