@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Authentication
<LayoutView Layout="typeof(PageLayout)">
    <h1>Login</h1>
    <form method="post">
        <input name="@Token.FormFieldName" type="hidden" value="@Token.RequestToken">
    </form>
</LayoutView>

@code
{
    [Parameter]
    public string ReturnUrl { get; set; } = null!;
    
    [Parameter]
    public List<AuthenticationScheme> ExternalLogins { get; set; } = null!;

    [Parameter]
    public AntiforgeryTokenSet Token { get; set; } = null!;
    
    [Parameter]
    public string? Error { get; set; }

}
